*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-text-color: #f6f7f0;
	--main-background-color: #bff4ff;
	--secondary-background-color: #a3d5ff;
	/* --tertiary-background-color: #9cb2fd; */
	--tertiary-background-color: #49abd9;
}

body {
	background-color: var(--main-background-color);
	color: var(--primary-text-color);
}

header {
	background-color: var(--secondary-background-color);
}

.page-container {
	display: flex;
	flex-direction: row;
}
